Community/MagetabConverter/Magetab2Xml/output.xsd

<?xml version="1.0"  encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      A magetab contains of a single idf and a signle sdrf.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="mage-tab">
    <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="idf" minOccurs="1" maxOccurs="1" type="idfType"/>
      <xsd:element name="sdrf" minOccurs="1" maxOccurs="1"  type="sdrfType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="idfType">
    <xsd:sequence>
      <xsd:element name="study" minOccurs="1" maxOccurs="1" type="studyType" />
      <xsd:element name="study_design" minOccurs="0" maxOccurs="unbounded" type="studyDesignType" />
      <xsd:element name="study_factor" minOccurs="0" maxOccurs="unbounded" type="studyFactorType" />
      <xsd:element name="contact" minOccurs="1" maxOccurs="unbounded" type="contactType" />
      <xsd:element name="protocol" minOccurs="1" maxOccurs="unbounded" type="protocolType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="studyType">
    <xsd:annotation>
      <xsd:documentation>
        SOP 3. Investigation Title and Experiment Description must both be non-empty. 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="description" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="pubmed_ids" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="goal" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="approaches" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="results" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="conclusions" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="related_studies" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="child_studies" minOccurs="0" maxOccurs="1" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="db_id" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="studyDesignType">
    <xsd:annotation>
      <xsd:documentation>
        SOP 4. Experiment Design and Experiment Design Term Source REF
               must both be non-empty for every Experiment Design. 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="typeGroup" minOccurs="1" maxOccurs="1" />   
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="studyFactorType">
    <xsd:annotation>
      <xsd:documentation>
        SOP 5.  Experimental Factor Name, Experimental Factor Type and
                Experimental Factor Term Source REF must all be non-empty for every
                Experimental Factor. 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:group ref="typeGroup" minOccurs="1" maxOccurs="1" />   
    </xsd:sequence>
    <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  
  <xsd:complexType name="contactType">
    <xsd:annotation>
      <xsd:documentation>
        SOP 8. Person Affiliation must be non-empty for every contact.
               If a contact is an affiliation its affiliation is itself.
        SOP 9. Person Roles and Person Roles Term Source REF must be
               non-empty for every contact.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:group  ref="nameGroup" minOccurs="0" maxOccurs="1" />
      <xsd:element name="email" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="phone" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="fax" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:group ref="addressGroup" minOccurs="0" maxOccurs="1" />
      <xsd:element name="affiliation" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:group ref="rolesGroup" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  
  <xsd:group name="nameGroup">
    <xsd:sequence>
      <xsd:element name="first_name" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="last_name" minOccurs="1" maxOccurs="1" type="xsd:string" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:complexType name="protocolType">
    <xsd:annotation>
      <xsd:documentation>
        SOP 10. Protocol Name must be non-empty for every protocol. 
        Policies 1.  If an element contains a non-empty value for a source_id element,
                     it must also contain a non-empty value for the corresponding
                     external_database_release_id element and conversely.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:group ref="typeGroup" minOccurs="0" maxOccurs="1" />
      <xsd:element name="pubmed_id" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:group ref="sourceGroup" minOccurs="0" maxOccurs="1" />
      <xsd:element name="other_read" minOccurs="0" maxOccurs="1" type="flagType" />
      <xsd:element name="uri" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="contact" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="protocol_parameters" minOccurs="0" maxOccurs="1" type="protocolParametersType" />
      <xsd:element name="child_protocols" minOccurs="0" maxOccurs="1" type="semiSepType" />
    </xsd:sequence>
    <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
    <xsd:attribute name="db_id" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="protocolParametersType">
    <xsd:annotation>
      <xsd:documentation>
        SOP 12. If Comment [Parameter DataType] is non-empty then
                Comment [Parameter DataTypeExtDbRls] must be non-empty.
        SOP 13. If Comment [Parameter UnitType] is non-empty then
                Comment [Parameter UnitTypeExtDbRls] must be non-empty.
        SOP 14. Comment [Parameter Is User Specified] should have values 0 or 1, if present.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="param" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" />
            <xsd:group ref="dataTypeGroup" minOccurs="0" maxOccurs="1" />
            <xsd:group ref="unitTypeGroup" minOccurs="0" maxOccurs="1" />
            <xsd:element name="default_value" minOccurs="0" maxOccurs="1" type="xsd:string" />
            <xsd:element name="is_user_specified" minOccurs="0" maxOccurs="1" type="flagType" />
          </xsd:sequence>
          <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  
  <xsd:group name="addressGroup">
    <xsd:sequence>
      <xsd:element name="address1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="address2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="city" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="state" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="country" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="zip_code" minOccurs="0" maxOccurs="1" type="xsd:string" />
    </xsd:sequence>
  </xsd:group> 
  
  <xsd:group name="typeGroup">
    <xsd:sequence>
      <xsd:element name="type" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="type_ext_db_rls" minOccurs="1" maxOccurs="1" type="ExternalDBReleaseType" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:group name="rolesGroup">
    <xsd:sequence>
      <xsd:element name="roles" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="roles_ext_db_rls" minOccurs="1" maxOccurs="1" type="ExternalDBReleasesType" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:group name="sourceGroup">
    <xsd:annotation>
      <xsd:documentation>
      SOP 15. Entries under Comment [ExtDbRls] should be of the form Name|Version
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="external_database_release" minOccurs="1" maxOccurs="1" type="ExternalDBReleaseType" />
      <xsd:element name="source_id" minOccurs="1" maxOccurs="1" type="xsd:string" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:group name="dataTypeGroup">
    <xsd:sequence>
      <xsd:element name="data_type" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="data_type_ext_db_rls" minOccurs="1" maxOccurs="1" type="ExternalDBReleaseType" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:group name="unitTypeGroup">
    <xsd:sequence>
      <xsd:element name="unit_type" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="unit_type_ext_db_rls" minOccurs="1" maxOccurs="1" type="ExternalDBReleaseType" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:simpleType name="ExternalDBReleaseType"> 
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".+\|.+"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="ExternalDBReleasesType"> 
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".+\|[^;]+(;.+\|[^;]+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="flagType"> 
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(0|1)"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="semiSepType"> 
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".+;.+"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="pipeSepType"> 
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".+|.+"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="locationIdType"> 
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="R.+C.+"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="tableType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".+::.+"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="sdrfType">
    <xsd:sequence>
      <xsd:element name="protocol_app_node" minOccurs="2" maxOccurs="unbounded" type="protocolAppNodeType" />
      <xsd:element name="protocol_app" minOccurs="1" maxOccurs="unbounded" type="protocolAppType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="protocolAppNodeType">
    <xsd:annotation>
      <xsd:documentation>
        Policies 6.  No subtype tag in the protocol_app_node element.
        The id attribute is used to string node and edges together.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="type" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="material entity" />
            <xsd:enumeration value="data item" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="taxon" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="uri" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="node_characteristics" minOccurs="0" maxOccurs="unbounded" type="nodeCharacteristicsType" />
      <xsd:element name="factor_values" minOccurs="0" maxOccurs="2" type="factorValuesType" />
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="locationIdType" />
    <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
    <xsd:attribute name="db_id" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="protocolAppType">
    <xsd:sequence>
      <xsd:element name="protocol" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="contacts" minOccurs="0" maxOccurs="1" type="performersType" />
      <xsd:element name="protocol_app_date" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="protocol_app_parameters" minOccurs="0" maxOccurs="1" type="protocolApplicationParametersType" />
      <xsd:element name="inputs" minOccurs="1" maxOccurs="1" type="locationIdType" />
      <xsd:element name="outputs" minOccurs="1" maxOccurs="1" type="locationIdType" />
    </xsd:sequence>
    <xsd:attribute name="id" use="optional" type="xsd:string" />
    <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
    <xsd:attribute name="db_id" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="nodeCharacteristicsType">
    <xsd:sequence>
      <xsd:element name="characteristic" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Policies 7.  A characteristic can either have an term, term/value
                           or a table.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:choice>
            <xsd:element name="table" minOccurs="1" maxOccurs="1" type="tableType" />
            <xsd:group ref="ontologyTypeGroup" />
            <xsd:sequence>
              <xsd:element name="value" minOccurs="1" maxOccurs="1" type="valueType"/>
              <xsd:group ref="ontologyTypeGroup" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="factorValuesType">
    <xsd:sequence>
      <xsd:element name="factor_value" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="value" minOccurs="1" maxOccurs="1"/>
            <xsd:group ref="dbCoordsGroup" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
          <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="performersType">
   <xsd:sequence>
      <xsd:element name="contact" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
            <xsd:group ref="roleGroup" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
          <xsd:attribute name="step" use="required" type="xsd:int" />
          <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="protocolApplicationParametersType">
    <xsd:sequence>
      <xsd:element name="app_param" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" />
            <xsd:element name="value" minOccurs="1" maxOccurs="1" />
            <xsd:group ref="dbCoordsGroup" minOccurs="0" maxOccurs="1" />
            <xsd:group ref="unitTypeGroup" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
          <xsd:attribute name="step" use="required" type="xsd:int" />
          <xsd:attribute name="addition" use="optional" type="xsd:boolean" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="valueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" >
        <xsd:attribute name="category" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>    
  </xsd:complexType>

  <xsd:group name="ontologyTypeGroup">
    <xsd:annotation>
      <xsd:documentation>
        Policies 7.  ontology_term can have a category attribute, for future use.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ontology_term" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string" >
              <xsd:attribute name="category" type="xsd:string" use="optional">
              </xsd:attribute>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="external_database_release" minOccurs="1" maxOccurs="1" type="ExternalDBReleaseType" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:group name="roleGroup">
    <xsd:sequence>
      <xsd:element name="role" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="external_database_release" minOccurs="1" maxOccurs="1" type="ExternalDBReleasesType" />
    </xsd:sequence>
  </xsd:group>
  
  <xsd:group name="dbCoordsGroup">
    <xsd:sequence>
      <xsd:element name="table" minOccurs="1" maxOccurs="1" type="tableType" />
      <xsd:element name="row_id" minOccurs="1" maxOccurs="1" type="xsd:int" />
    </xsd:sequence>
  </xsd:group>

</xsd:schema>